<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresar correo para recuparar contraseña</ion-title>
    <ion-button slot="end" (click)="cerrar()"  fill="clear" shape="round">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <form [formGroup]="resetForm">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required [(ngModel)]="email" formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="resetPass()" [disabled]="resetForm.invalid">
      Enviar
    </ion-button>
  </form>
</ion-content>
