<ion-content class="ion-padding">
  <div class="content-container">
    <ion-item>
      <ion-icon style="zoom:6.0; margin: 0 auto; margin-top: 5px; margin-bottom: 5px;" name="person-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Correo Electrónico" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item >
      <ion-icon slot="start"  name="key-outline"></ion-icon>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
    <ion-button color="medium" expand="full" (click)="loginG()">
      <ion-icon name="logo-google"></ion-icon>&nbsp;
      <!-- oogle -->
    </ion-button>

    <ion-item (click)="resetPassword()">
      <ion-label style="text-align: center; cursor: pointer; color: red;">olvide mi contraseña</ion-label>
    </ion-item>
  </div>
</ion-content>
