<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-button slot="end" (click)="createTask()"  fill="clear" shape="round">
      <ion-icon  name="add"></ion-icon>
    </ion-button> 
    <ion-button slot="end" (click)="logout()"  fill="clear" shape="round">
      Cerrar session
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tasks.length > 0">
    <ion-item *ngFor="let task of tasks">
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
