<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresar correo para recuparar contraseña</ion-title>
    <ion-button slot="end" (click)="cerrar()"  fill="clear" shape="round">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div>
    <form [formGroup]="saveTaskForm">
      <ion-item>
        <ion-label position="floating">Titulo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required [(ngModel)]="title" formControlName="title" type="text"></ion-input>
      </ion-item><br>
      <ion-item>
        <ion-label position="floating">Tarea<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required [(ngModel)]="task" formControlName="task" type="text"></ion-input>
      </ion-item><br>
      <ion-button expand="full" (click)="saveTasks()" block color="primary" type="submit" [disabled]="saveTaskForm.invalid">
        Guardar
      </ion-button>
    </form>
  </div>
</ion-content>