.content-container {
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(42, 42, 42);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-button {
    margin-top: 20px;
}
  